dotnet-core-webapi/ders4/BookStore.WebApi/BookStore.WebApi.sln
dotnet-core-webapi/ders4/BookStore.WebApi/.vs/BookStore.WebApi/v15/Server/sqlite3/storage.ide-wal
dotnet-core-webapi/ders4/BookStore.WebApi/.vs/BookStore.WebApi/v15/.suo
dotnet-core-webapi/ders4/BookStore.WebApi/.vs/BookStore.WebApi/v15/Server/sqlite3/db.lock
dotnet-core-webapi/ders4/BookStore.WebApi/.vs/BookStore.WebApi/v15/Server/sqlite3/storage.ide
dotnet-core-webapi/ders4/BookStore.WebApi/.vs/BookStore.WebApi/v15/Server/sqlite3/storage.ide-shm
